<?xml   version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context 	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>

	<context:component-scan base-package="jdbcapp"/>
	
	<!-- It is a SampleDataSource implementation, provided out of the box by Spring. 
		 It's not very efficient.
		 Creates a new connection every time we call dataSource.getConnection() -->
		 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
		<property name="url" value="jdbc:derby://localhost:1527/db"/>
	</bean>
	
	<bean id="dbcpDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
		<property name="url" value="jdbc:derby://localhost:1527/db"/>
		<property name="initialSize" value="2"/>
		<property name="maxTotal" value="5"/>
	</bean>
	
	<bean id="dbcpNewDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
		<property name="url" value="jdbc:derby://localhost:1527/db"/>
		<property name="initialSize" value="2"/>
		<property name="maxTotal" value="5"/>
	</bean>
	
	<bean id="simpleJdbcDAOImpl" class="jdbcapp.dao.SimpleJdbcDAOImpl">
		<property name="dataSource" ref="dbcpNewDataSource"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dbcpNewDataSource"/>
	</bean>
</beans>
